@import "../App.scss";

.wrapper {
    background-color: $bg;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 1rem;

    p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.contentHolder {
    padding: 1rem;
    img {
        width: 100%;
    }
}

.bottom {
    margin-top: 3.2rem;
}
