.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border: 1px solid #979797;
    row-gap: 16px;
    padding-bottom: 1.6rem;
    height: 500px;
    cursor: pointer;

    img {
        width: 100%;
        height: 30rem;
        object-fit: cover;
    }

    h4 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 350px;
    }
}
@media screen and (max-width: 426px) {
    .wrapper {
        height: 300px;
    }
}
