.wrapper {
    overflow: hidden;
    position: relative;
    video {
        width: 100%;
        object-fit: cover;
        height: calc(100vh - 129px - 2rem);
        position: fixed;
    }
}
.contentHolder {
    position: relative;
    width: 100%;
    height: calc(100vh - 129px - 2rem);
}
.content {
    position: absolute;
    z-index: 500;
    top: 0;
    width: 50%;
    height: calc(100vh - 129px - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.6rem;
    section {
        position: fixed;
    }
    .btnHolder {
        max-width: 11rem;
        margin: 0 auto;
    }
    .legend {
        display: flex;
        align-items: center;
        margin-bottom: 2.6rem;
        .left,
        .right {
            width: 3rem;
            height: 2px;
            background-color: #ffffff;
        }
    }
    h1 {
        font-weight: 600;
        font-size: 5rem;
        line-height: 6.1rem;
        color: #fff;
        margin-bottom: 2.6rem;
    }
    p {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #fff;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .wrapper {
        video {
            height: auto;
        }
    }
    .contentHolder{
        height: 42rem;
    }
    .content{
        height: 42rem;
    }
}
