.wrapper {
    max-height: 600px;
    overflow: hidden;
    position: relative;
    video {
        width: 100%;
    }
}
.contentHolder {
    position: relative;
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    width: 100%;
    z-index: 15;
    top: 40%;
    left: -30%;
}

@media screen and (max-width: 768px) {
    .content {
        left: -1rem;
        a {
            font-size: 3rem !important;
        }
    }
}
