.wrapper {
    overflow: hidden;
    position: relative;
    video {
        width: 100%;
        object-fit: cover;
        height: calc(100vh - 129px - 4rem);
    }
}
.contentHolder {
    position: relative;
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    width: 100%;
    z-index: 15;
    top: 40%;
    left: -30%;
}

@media screen and (max-width: 768px) {
    .content {
        left: -1rem;
        a {
            font-size: 3rem !important;
        }
    }
}
@media screen and (max-width: 600px) {
    .wrapper{
        video{
            height: 350px!important;
        }
    }
}
