.wrapper {
    max-height: 50rem;
    overflow: hidden;
    position: relative;
    video {
        width: 100%;
    }
}
.contentHolder {
    position: relative;
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    width: 100rem;
    z-index: 15;
    top: 13rem;
    left: -20rem;
}
