@import '../App.scss';

.wrapper{
    width: 100%;
    // height: calc(100vh - 128px);
    scroll-margin-top: 129px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
    video{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}
.content {
    position: absolute;
    z-index: 500;
    top: 0;
    width: 50%;
    height: calc(100vh - 128px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.6rem;
    .btnHolder {
        max-width: 11rem;
        margin: 0 auto;
    }
    .legend {
        display: flex;
        align-items: center;
        margin-bottom: 2.6rem;
        .left,
        .right {
            width: 3rem;
            height: 2px;
            background-color: #ffffff;
        }
    }
    h1 {
        font-weight: 600;
        font-size: 5rem;
        line-height: 6.1rem;
        color: #fff;
        margin-bottom: 2.6rem;
    }
    p {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #fff;
        margin: 0 1rem;
    }
}