.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 128px);
    overflow: hidden;
}

.mapHolder {
    z-index: 500;
    overflow: hidden;
    height: 100vh;
    position: sticky;
    top: 0;
}
