@import "../App.scss";

.wrapper {
    width: 100%;
    padding: 16px 0;
    background-color: #323031;

    .content {
        display: flex;
        justify-content: space-between;
    }
}

.left {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    margin-right: 15rem;
}

.customer {
    display: flex;
    align-items: center;
    column-gap: 8px;

    img {
        width: 1.6rem;
        height: 1.6rem;
    }

    p {
        color: #ffffff;
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.8rem;

        span {
            color: #ffd600;
        }
    }
}

.right {
    display: flex;
    align-items: center;
    column-gap: 2.2rem;

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $yellow;
        width: 50rem;
        color: #ffffff;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.8rem;
        &::placeholder {
            color: #ffffff;
        }
    }

    img {
        width: 1.6rem;
        height: 1.6rem;
    }

    p {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #ffffff;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #323031;

        &:hover {
            border-bottom: 2px solid #ffd600;
        }
    }
}
