@import '../App.scss';

.container{
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.homeFooter{
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: center;
    background-color: $grey;
}