.wrapper {
    padding: 30px 0 0 0;
    position: relative;
    p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}
.loc {
    position: absolute;
    bottom: 128px;
}
.textAnimation {
    animation: slideIn 1.5s ease;
}
.textAnimationFirst {
    animation: slideInFirst 1s ease;
}

@keyframes slideIn {
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFirst {
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY(0);
    }
}
@media screen and (max-width: 500px) {
    .textAnimation {
        animation: slideIn 0.8s ease;
    }
    .textAnimationFirst {
        animation: slideInFirst 0.8s ease;
    }
}
