.wrapper {
    padding: 30px 0 0 0;
    position: relative;
    p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}
.loc {
    position: absolute;
    bottom: -50rem;
}
