.wrapper {
    width: 100%;
    // height: 100vh;
    position: relative;
    scroll-snap-align: start;
    padding-top: 1.6rem;
}

.textAnimation {
    animation: slideIn 1.8s ease;
}

.textAnimationFirst {
    animation: slideInFirst 0.8s ease;
}

@keyframes slideIn {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFirst {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}