@import "../App.scss";

.projects {
    background-color: #ffffff;
    padding: 50px 0 16px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 85%;
    margin: 3rem 0;
}

.sliderItem {
    position: relative;
}

.itemContent {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: rgba(50, 48, 49, 0.5);
    z-index: 10;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    justify-content: center;
    h2 {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 2.2rem;
        color: #ffffff;
    }

    p {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2rem;
        color: #ffffff;
        margin-bottom: 1.6rem;
    }
}
.itemImg {
    height: inherit;
    height: 40rem;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: inherit;
    }
}
.btnHolder {
    width: 11rem;
}
.prev {
    position: absolute;
    z-index: 100;
    left: -11rem;
    width: 5rem;
}
.next {
    position: absolute;
    z-index: 100;
    right: -11rem;
    width: 5rem;
}

@media screen and (max-width: 768px) {
    .prev,
    .next {
        display: none;
    }
    .slider {
        width: 100%;
    }
}
