@import "../App.scss";

.projects {
    width: 100%;
    // height: 100vh;
    scroll-margin-top: 129px;
    position: relative;
    scroll-snap-align: center;
    padding-top: 1.6rem;
    background-color: #ffffff;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 65%;
    margin: 3rem 0 0 0;
    height: 45vh;
}

.sliderItem {
    position: relative;
}

.itemContent {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: rgba(50, 48, 49, 0.5);
    z-index: 10;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    justify-content: center;
    h2 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.2rem;
        color: #ffffff;
    }

    p {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #ffffff;
        margin-bottom: 1.6rem;
    }
    ul {
        li {
            list-style: disc;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #ffffff;
            margin-bottom: 1.6rem;
        }
    }
}
.itemImg {
    height: inherit;
    height: 45vh;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: inherit;
    }
}
.btnHolder {
    width: 11rem;
}
.prev {
    position: absolute;
    z-index: 100;
    left: -7rem;
    width: 3.5rem;
    img {
        width: 3.5rem;
    }
}
.next {
    position: absolute;
    z-index: 100;
    right: -7rem;
    width: 3.5rem;
    img {
        width: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    .prev,
    .next {
        display: none;
    }
    .slider {
        width: 100%;
    }
}
