@import '../App.scss';

.panel {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
    button {
        background-color: transparent;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1rem 0 1rem 1rem;
        text-align: left;
        color: $grey;
        border-left: 3px solid transparent;
    }
    .active{
        background-color: transparent;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1rem 0 1rem 1rem;
        text-align: left;
        color: $grey;
        border-left: 3px solid $yellow;
    }
}

.tab {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    margin-bottom: 3.2rem;

    img {
        width: 100%;
    }

    p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}