@import "../App.scss";

.wrapper {
    background-color: #ffd600;
    position: relative;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5rem;
    }
}

.logo {
    img {
        width: 19.4rem;
        height: 3.5rem;
        margin: 2rem 0;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        display: none;
        img {
            width: 3rem;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 4rem;
        margin: 0;
        padding: 0;
    }
}
.mobileMenu {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 105;
    background-color: $grey;
    width: 300px;
    height: 100vh;
    transition: 0.3s ease;
    display: none;
    .close {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            background-color: transparent;
            border: none;
            padding: 10px 10px 0 0;
            img {
                width: 18px;
            }
        }
    }
}
.mobileMenuActive {
    display: block;
}

@media screen and (max-width: 768px) {
    .nav {
        ul {
            display: none;
        }
        button {
            display: block;
        }
    }
}
