.wrapper {
    background-color: #FFD600;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5rem;
    }
}

.logo {
    img {
        width: 19.4rem;
        height: 3.5rem;
    }
}

.nav {
    display: flex;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 4rem;
        margin: 0;
        padding: 0;
    }
}



@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
}