.wrapper {
    padding: 17px 0;
    background-color: #FFD600;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 5rem;
    }
}

.logo {
    img {
        width: 19.4rem;
        height: 3.5rem;
    }
}

.nav {
    display: flex;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 4rem;
        margin: 0;
        padding: 0;
    }
}

.navItem {
    position: relative;
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000000;
    column-gap: .5rem;

    &:hover {
        .dropdownContent {
            display: flex;
        }
    }

    img {
        width: 1.3rem;
    }
}

.dropdownContent {
    position: absolute;
    background-color: #ffffff;
    display: none;
    width: 90rem;
    z-index: 100;
    top: 23px;
    left: -20rem;
    padding: 1rem;
}

.dropdownItem {
    flex: 1;
    padding: 0.5rem;

    img {
        width: 100%;
        padding-right: 2rem;
    }

    h4 {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1.6rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: flex-start;
        li {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
}