@import "../App.scss";

.navItem {
    position: relative;
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #000000;
    column-gap: 0.5rem;
    padding: 25px 0;
    cursor: pointer;

    &:hover {
        .dropdownContent {
            display: flex;
        }
    }

    img {
        width: 1.3rem;
    }
}

.dropdownContent {
    position: absolute;
    background-color: #ffffff;
    display: none;
    z-index: 9999;
    top: 70px;
    left: -28rem;
    padding: 1rem;
}

.dropdownItem {
    flex: 1;
    padding: 0.5rem;
    width: 18rem;

    img {
        padding-right: 2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h4 {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1.6rem;
        color: #000000;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: flex-start !important;
        padding: 0;
        li {
            text-align: left;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #000000;
        }
    }
}

@media screen and (max-width: 768px) {
    .navItem {
        border-bottom: 1px solid #fff;
        height: 32px;
        padding-left: 10px;
        color: #ffffff;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        h4 {
            padding-left: 20px;
            color: #ffffff;
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
        }
        img {
            width: 20px;
            height: 8px;
            margin: 0 0 0 5px;
        }
        &:hover {
            .dropdownContent {
                display: none;
                width: 100%;
            }
        }
    }
    .dropdownContent {
        background-color: #ffffff;
        position: absolute;
        display: none;
        z-index: 101;
        top: 51px;
        left: 0;
    }
    .dropdownItem {
        flex: 1;
        width: 100%;
        height: 32px;

        img {
            display: none;
        }

        h4 {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $grey;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: flex-start;
            li {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
    }
}
