@import "../App.scss";

.page {
    background-color: $bg;
    padding: 5rem 0;
}
.wrapper {
    position: relative;
}

.imgHolder {
    width: 100%;
    border: 1px solid $grey;
    padding: 1rem;
    img {
        width: 100%;
        object-fit: cover;
        max-height: 43.8rem;
        transition: 0.3s ease;

        &:hover{
            transform: scale(1.05);
        }
    }
}

.contentHolder {
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    row-gap: 3.2rem;
    position: sticky;
    margin-top: 1.6rem;
    top: 0;

    p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.btnHolder {
    width: 25rem;
}

.similar {
    margin: 3rem 0;

    h4 {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

.similarItem {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}
