.item {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 1rem 1rem 1rem 0;
    cursor: pointer;

    p {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }

    img {
        height: 27.4rem;
        overflow: hidden;
        object-fit: cover;
        border: 1px solid #000;
        padding: 6px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}
