.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -1rem;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 1rem;
    background-clip: padding-box;

    img {
        margin-bottom: 1rem;
    }
}

.pd-banner {
    position: relative;
    img {
        max-height: 500px;
        width: 100%;
    }
}

.pd-contentWrapper{
    position: absolute;
    background-color: rgba(50, 48, 49, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.pd-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    margin: 14rem 0 0 16rem;


    h2 {
        font-weight: 600;
        font-size: 5rem;
        line-height: 6.1rem;
        color: #ffffff;
    }
}

.pd-text {
    display: flex;
    column-gap: 8rem;

    p {
        // max-width: 40rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #ffffff;
    }
}

.pd-btnHolder {
    position: absolute;
    right: 16rem;
    bottom: 5.5rem;
    max-width: 20rem;
}

@media screen and (max-width: 576px) {
    html {
      font-size: 4px;
    }
    .pd-btnHolder {
        position: absolute;
        right: 10rem;
        bottom: 4rem;
        max-width: 20rem;
    }
  }