.item {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    padding: 1rem 1rem 1rem 0;

    p {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }

    img{
        height: 27.4rem;
        overflow: hidden;
        object-fit: cover;
    }
}