@import url("https://unpkg.com/leaflet@1.8.0/dist/leaflet.css");
$yellow: #ffd600;
$grey: #323031;
$bg: #f4f4f4;
$shadow: 0 2px 8px rgb(0 0 0 / 20%);

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body {
    height: 100vh !important;
    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: auto;
}
main {
    margin-top: 12.8rem !important;
}
#alsys {
    position: absolute;
    left: 0;
    top: -128px;
}

.owl-nav {
    position: relative;
    .owl-prev,
    .owl-next {
        position: absolute;
        top: -300px;
        font-size: 5rem !important;
        width: 5rem !important;
        border: 1px solid $grey !important;

        &:hover {
            background-color: transparent !important;
            span {
                color: #323031;
            }
        }
    }
    .owl-next {
        right: -6.4rem;
    }
    .owl-prev {
        left: -6.4rem;
    }
}

.App,
p,
a,
span,
ul,
li,
button,
h1,
h2,
form,
label,
input {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

input {
    padding: 0 1rem;
    outline: none;
}
textarea {
    padding: 1rem;
}

main {
    background-color: #f4f4f4;
}
.home-main {
    position: absolute;
    height: 100%;
    width: 100%;
}
.panel {
    position: relative;
    width: 100%;
    z-index: 1000;
    background-color: #f4f4f4;
    &:nth-child(1) {
        height: calc(100vh - 129px - 2rem);
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 6px;
    }
    .panel:nth-child(1) {
        height: 70%;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 5px;
    }
    .panel:nth-child(1) {
        height: 60%;
    }
}
@media screen and (max-width: 500px) {
    .panel:nth-child(1) {
        height: 50%;
    }
}
@media screen and (max-width: 400px) {
    .panel:nth-child(1) {
        height: 40%;
    }
}
.leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
}
